@import url(assets/fonts.css);
:root {
    --cor1:#111;
    --cor2:#fff;
    --largura: 1400px;
    --altura: 1100px;
    --bRadius: 10px;
}

html {
    /* background-color: #111; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

body {
    font-family: San Francisco;
    font-size: 18px;
    width: 100%;
    height: 100%;
}
.minletra{
    font-size: 50%;
    position: relative;
    bottom: 0.6em;
}
header {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000000b7;
    color: var(--cor2);
    position: fixed;
    top: 0;
    z-index: 99;
}

header .header {
    width: var(--largura);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .header a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header .header a .logo{
    height: 30px;
}
header .header nav{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
header .header nav a{
    color: var(--cor2);
}
main {
    /* margin-top: 55px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin-bottom: 100px;
}
main article div{
    width: 90%;
    max-width: var(--largura);
}
main .secao-produto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor2);
    background: var(--cor1);
    position: relative;
    overflow: hidden;
}
main .secao-produto .foto-fundo{
    filter: blur(30px) brightness(0.4);
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%;
}
main .secao-produto .apresentacao{
    position: relative;
    text-align: center;
}
main .secao-produto .apresentacao img{
    width: 80%;
    height: 100%;
    object-fit: cover;
}
main .secao-produto .apresentacao h1{
    color: #fff;
    background-color: #00000055;
    position: absolute;
    bottom: 5%;
    padding: 10px 20px;
    border-radius: var(--bRadius);
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
main section{
    background-color: #00000011;
    padding: 50px;
    width: 90%;
    border-radius: var(--bRadius);
    /* height: 700px; */
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 10px 10px 12px 0 #00000044;
}
main section div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
main section div p{
    padding: 0 50px;
    width: 50%;
    font-size: 20px;
}
main section div img{
    border-radius: var(--bRadius);
}
footer{
    background-color: var(--cor1);
    color: var(--cor2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
}
footer div{
    display: flex;
    width: var(--largura);
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
}
footer div nav{
    display: flex;
    gap: 30px;
    font-size: 40px;
}