*{
    transition: 0.2s;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    color: inherit;
    z-index: inherit;
    text-rendering: optimizeLegibility; /* Melhora a legibilidade do texto em alguns navegadores */
}